<div class="film">
    <a [routerLink]="['/']" class="film__back">
        <img src="../../assets/images/circle-arrow-left-solid.svg" alt=""><span>Back to search</span>
    </a>
    <div class="film__inner-wrapper">
        <mat-progress-bar *ngIf="!(film$ | async)" mode="indeterminate"></mat-progress-bar>
        <div class="film__card" *ngIf="film$ | async as fm">
            <div class="error" *ngIf="fm.error">
                Title does not exist
            </div>
            <ng-container  *ngIf="!fm.error">
                <h1>{{fm.title}}</h1>
                {{fm | json}}
            </ng-container>
           
        </div>
    </div>
</div>