
<div class="c">
    <div class="c__inner-wrapper">
        <div class="c__card" *ngIf="character$ | async as character">
            <h1>{{character.name}}</h1>
            <h3>Basics</h3>
            <div class="basic">
                <div class="basic-item">
                    <img src="../../assets/images/ruler-vertical-solid.svg" alt=""><span>Height: {{character.height}}</span>
                </div>
                <div class="basic-item">
                    <img src="../../assets/images/weight-scale-solid.svg" alt=""><span>Mass:{{character.mass}}</span>
                </div>
                <div class="basic-item">
                    <img src="../../assets/images/crosshairs-solid.svg" alt=""><span>Hair colour: {{character.hair_color}}</span>
                </div>
                <div class="basic-item">
                    <img src="../../assets/images/venus-mars-solid.svg" alt=""><span>Gender: {{character.gender}}</span>
                </div>
                <div class="basic-item">
                    <img src="../../assets/images/eye-solid.svg" alt=""><span>Eye colour: {{character.eye_color}}</span>
                </div>
                <div class="basic-item">
                    <img src="../../assets/images/cake-candles-solid.svg" alt=""><span>Birth year: {{character.birth_year}}</span>
                </div>
            </div>
       
            <!-- {{character | json}} -->
        </div>
    </div>
</div>


