/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Titillium+Web&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Titillium Web', sans-serif;;
}

h1,h2{
    font-family: 'Megrim', cursive;
}


input,textarea{
     &:focus{
        outline: none;
     }
}

#ngb-live{
    display: none;
}

a{
    text-decoration: none;
    color: inherit;
}


button {
    cursor: pointer;
}
