.search{
    padding: 100px 20px 20px 20px;
    &__inner-wrapper{
        max-width: 600px;
        margin: 0 auto;
        position: relative;


        h1{
            text-align: center;
        }
    }
}